@brafton:registry=https://www.myget.org/F/brafton-prerelease/npm/
//www.myget.org/F/brafton-prerelease/npm/:_password="MUZsZS5Sb2I="
//www.myget.org/F/brafton-prerelease/npm/:username=stewart.snow
//www.myget.org/F/brafton-prerelease/npm/:email=stewart.snow@brafton.com
//www.myget.org/F/brafton-prerelease/npm/:always-auth=true