<div class="container-fluid">
    <div class="nav-head row">
        <div class="logo col-xs-3">
            <img src="assets/images/full_logo.png" width="300" />
        </div>
        <nav class="col-xs-9">
            <ul class="main-navigation">
                <li>
                    <a routerLink="/main">Home</a>
                </li>
                <li>
                    <a routerLink="/projects">Projects</a>
                </li>
                <li>
                    <a routerLink="/projecttypes">Projects</a>
                </li>
            </ul>
        </nav>
    </div>
    <router-outlet></router-outlet>
</div>
